<%= form_with(model: intervention, local: true) do |form| %>
  <% if intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>
      <ul>
        <% intervention.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%# Intervention Form %>

<section>
  <div class="container">

    <div class="row no-gutters wow slideInUp" data-wow-duration="1s">
      <div class="col-md-12 home-form text-center">


        <%# Customer dropdown selection %>
        <div class="select-building-type card card-default">
          <div class="card-heading card-heading-transparent">
            <label for="building-type" class="card-title"> 
              <h3>
                <span style="color:rgb(10, 101, 160); font-weight:bolder">STEP 1 |</span> Select Customer
              </h3> 
            </label>
          </div>
          <div class="card-block" style="margin: 20px">
            <select style="max-width: 150px;" id="customer_select" class="custom-select mb-0 mr-sm-0 mb-sm-0" <%= form.select(:customer_id) do %>>
              <option selected>Customer</option>
              <%= @customer.each do |c| %>
                <option value="<%= c.id %>"><%= c.company_name %></option>
                <% end %>
            <% end %>
            </select>
          </div>
        </div>

        <%# Building dropdown selection %>
        <div class="select-building-type card card-default">
          <div class="card-heading card-heading-transparent">
            <label for="building-type" class="card-title"> 
              <h3>
                <span style="color:rgb(10, 101, 160); font-weight:bolder">STEP 2 |</span> Select Building
              </h3> 
            </label>
          </div>
          <div class="card-block" style="margin: 20px">
            <select style="max-width: 150px;" id="building_select" class="custom-select mb-0 mr-sm-0 mb-sm-0" <%= form.select(:building_id) do %>>
              <option selected>Building</option>
              <%= @building.each do |b| %>
                <option value="<%= b.id %>"><%= b.id %></option>
                <% end %>
            <% end %>
          </div>
        </div>

        <%# Battery dropdown selection %>
        <div class="select-building-type card card-default">
          <div class="card-heading card-heading-transparent">
            <label for="building-type" class="card-title"> 
              <h3>
                <span style="color:rgb(10, 101, 160); font-weight:bolder">STEP 3 |</span> Select Battery
              </h3> 
            </label>
          </div>
          <div class="card-block" style="margin: 20px">
            <select style="max-width: 150px;" id="battery_select" class="custom-select mb-0 mr-sm-0 mb-sm-0" <%= form.select(:battery_id) do %>>
              <option selected>Battery</option>
              <%= @battery.each do |b| %>
                <option value="<%= b.id %>"><%= b.id %></option>
                <% end %>
            <% end %>
          </div>
        </div>

        <%# Column dropdown selection %>
        <div class="select-building-type card card-default">
          <div class="card-heading card-heading-transparent">
            <label for="building-type" class="card-title"> 
              <h3>
                <span style="color:rgb(10, 101, 160); font-weight:bolder">STEP 4 |</span> Select Column
              </h3> 
            </label>
          </div>
          <div class="card-block" style="margin: 20px">
            <select style="max-width: 150px;" id="column_select" class="custom-select mb-0 mr-sm-0 mb-sm-0" <%= form.select(:column_id) do %>>
              <option selected>None</option>
              <%= @column.each do |c| %>
                <option value="<%= c.id %>"><%= c.id %></option>
                <% end %>
            <% end %>
          </div>
        </div>

        <%# Elevator dropdown selection %>
        <div class="select-building-type card card-default">
          <div class="card-heading card-heading-transparent">
            <label for="building-type" class="card-title"> 
              <h3>
                <span style="color:rgb(10, 101, 160); font-weight:bolder">STEP 5 |</span> Select Elevator
              </h3> 
            </label>
          </div>
          <div class="card-block" style="margin: 20px">
            <select style="max-width: 150px;" id="elevator_select" class="custom-select mb-0 mr-sm-0 mb-sm-0" <%= form.select(:elevator_id) do %>>
              <option selected>None</option>
              <%= @elevator.each do |e| %>
                <option value="<%= e.id %>"><%= e.id %></option>
                <% end %>
            <% end %>
          </div>
        </div>

        <%# Employee dropdown selection %>
        <div class="select-building-type card card-default">
          <div class="card-heading card-heading-transparent">
            <label for="building-type" class="card-title"> 
              <h3>
                <span style="color:rgb(10, 101, 160); font-weight:bolder">STEP 6 |</span> Select Employee
              </h3> 
            </label>
          </div>
          <div class="card-block" style="margin: 20px">
            <select style="max-width: 150px;" id="employee_select" class="custom-select mb-0 mr-sm-0 mb-sm-0" <%= form.select(:employee_id) do %>>
              <option selected>None</option>
              <%= @employee.each do |e| %>
                <option value="<%= e.id %>"><%= e.id %></option>
                <% end %>
            <% end %>
          </div>
        </div>

        <div class="select-building-type card card-default">
          <div class="card-heading card-heading-transparent">
            <label for="building-type" class="card-title"> 
              <h3>
                <span style="color:rgb(10, 101, 160); font-weight:bolder">STEP 7 |</span> Write a Report
              </h3> 
            </label>
          </div>
          <div class="card-block" style="margin: 20px">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" <%= form.select(:report) do %> ></textarea>
            <% end %>
          </div>
        </div>

        <div class="actions">
          <%= form.submit class: "btn btn-primary btn-lg"%>
          <br>
          <label for="staticEmail" class="col-sm-2 col-form-label">Submited by:</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="       <%= current_user.first_name %>" >
        </div>

      </div>
    </div>

  </div>
</section>
<% end %>